Some pass here
<div class="mb-6">
  <%= link_to :edit, edit_password_path %>
</div>

<br>

<div class="block">
  <%= @password.url %>
</div>

<div class="block">
  <%= @password.username %>
</div>

<div class="block">
  <%= @password.password %>
</div>
